
<div id="menu">
  <div class="sub-menu">
      <div>Ver Carta</div>
      <div>waiter.png</div>
  </div>
  <div class="sub-menu">
     <div>Llamar Mozo</div>
    <div>waiter.png</div>
  <div>
</div>
