<%= link_to new_habitacion_path do%>
  <h6 class="btn btn-success text-center">Crear Habitacion</h6>
<% end %>

<ul>
  <%@habitaciones.each do |habitacion|%>
    <%= link_to habitacion_path(habitacion) do %>
      <li><%=habitacion.name%></li>
    <% end %>
  <% end %>
</ul>
