<%= link_to banks_path do %>
<h1>Bancos</h1>
<% end %>

<%= link_to compros_path do %>
<h1>Comprobantes de depositos</h1>
<% end %>

<%= link_to compros_path do %>
<h1>Cheques</h1>
<% end %>

<%= link_to habitacions_path do %>
<h1>Check List de habitaciones</h1>
<% end %>


<h3>My Google Maps Demo</h3>
    <!--The div element for the map -->
    <div id="map"></div>
    <script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var uluru = {lat: -25.5096983, lng: -54.6370232};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 15, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: {lat: -25.5096983, lng: -54.6370232}, map: map});
}
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGyDlfsBwwLo0NygVqE_3sc7uz7lWW94U&callback=initMap">
    </script>

