<%= link_to banks_path do %>
<h1>Bancos</h1>
<% end %>

<%= link_to compros_path do %>
<h1>Comprobantes de depositos</h1>
<% end %>

<%= link_to compros_path do %>
<h1>Cheques</h1>
<% end %>

<%= link_to habitacions_path do %>
<h1>Check List de habitaciones</h1>
<% end %>
