.status {
  border: 1px solid red;
  width: 60%;
  padding: 0px;
  margin: 5px;
  border-radius: 7px;
  color: white;
  background-color: red;
}

.status1 {
  border: 1px solid red;
  width: 60%;
  padding: 0px;
  margin: 5px;
  border-radius: 7px;
  color: green;
  background-color: red;
}

.status3 {
  border: 1px solid red;
  width: 80%;
  height: 20px;
  padding: 0px;
  margin: 5px;
  border-radius: 7px;
  color: white;
  background-color: red;
}
