<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
      </tr>
    </thead>
    <tbody>
      <% @cheques.each do |chequera| %>
        <tr>
          <th scope="row"><%=link_to chequera.name, cheque_path(chequera)%></th>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
