<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <%= simple_form_for [@bank, @extracto] do |f| %>
        <%= f.input :name, label: "Nombre. Ej: JUNIO-2020"%>
        <div class="d-flex justify-content-center">
        <%= f.submit "Crear Extracto"%>
        </div>
      <% end %>
      <%= link_to 'Back', root_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
</div>
